<%- content_for :body_id, 'users-index' -%>

<table class="table table-striped table-borderd">
  <tr>
    <th>Date</th>
    <th>Name</th>
  </tr>

<!--
<% @users.each do |user| %>
  <tr>
    <td><%= user.board_id %></td>
    <td><%= user.name %></td>
    <td>11/11,11/12,11/13</td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
-->
<% 1.times do  %>
  <% user = User.first %>
  <tr>
    <td>11/11</td>
    <td>Aさん,Bさん</td>
  </tr>
  <tr>
    <td>11/12</td>
    <td></td>
  </tr>
  <tr>
    <td>11/13</td>
    <td>Aさん,Bさん,Cさん</td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New User', new_user_path %>
<%= button_to 'Back', board_path(@users.first.board_id), method: :get %>
</div>
