<h1>Listing board_whens</h1>

<table>
  <tr>
    <th>Board</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @board_whens.each do |board_when| %>
  <tr>
    <td><%= board_when.board %></td>
    <td><%= board_when.date %></td>
    <td><%= link_to 'Show', board_when %></td>
    <td><%= link_to 'Edit', edit_board_when_path(board_when) %></td>
    <td><%= link_to 'Destroy', board_when, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Board when', new_board_when_path %>
