<%- content_for :body_id, 'boards-show' -%>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>What:</b>
  <%= @board.what %>
</p>

<p>
  <b>Where:</b>
  <%= @board.where %>
</p>



<p>
  <%= link_to 'Add', new_user_path %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'More', boards_path %>
